<app-showcase-section title="Color Variants">
  <ino-range colorScheme="primary" min="0"  max="100" value="50"></ino-range>
  <ino-range colorScheme="secondary" min="0"  max="100" value="50"></ino-range>
  <ino-range colorScheme="warning" min="0"  max="100" value="50"></ino-range>
  <ino-range colorScheme="error" min="0"  max="100" value="50"></ino-range>
  <ino-range colorScheme="success" min="0"  max="100" value="50"></ino-range>
  <ino-range colorScheme="light" min="0"  max="100" value="50"></ino-range>
  <ino-range colorScheme="dark" min="0"  max="100" value="50"></ino-range>
</app-showcase-section>

<app-showcase-section title="Stepped Range">
  <ino-range colorScheme="primary" min="0"  max="100" value="50" step="20" discrete markers></ino-range>
</app-showcase-section>
