<app-showcase-section title="">
  <ino-card>
    <div slot="header" class="card-header">
      <ino-icon icon="info" clickable></ino-icon>
    </div>
    <div slot="content" class="card-content--vertical">
      <ino-img
        src="https://cdn-images-1.medium.com/max/1600/1*HP8l7LMMt7Sh5UoO1T-yLQ.png"
      ></ino-img>
    </div>
    <div slot="footer" class="card-footer">
      <ino-segment-group>
        <ino-segment-button value="1" class="like-button">Like</ino-segment-button>
        <ino-segment-button value="2" class="dislike-button">Dislike</ino-segment-button>
      </ino-segment-group>
    </div>
  </ino-card>
</app-showcase-section>
