<app-showcase-section title="Checkbox Variants">
  <ino-checkbox checked>Checked</ino-checkbox>
  <ino-checkbox>Unchecked</ino-checkbox>
  <ino-checkbox indeterminate>Indeterminated</ino-checkbox>
  <ino-checkbox disabled checked>Checked and Disabled</ino-checkbox>
  <ino-checkbox disabled>Unchecked and Disabled</ino-checkbox>
  <ino-checkbox disabled indeterminate
  >Indeterminate and Disabled
  </ino-checkbox>
</app-showcase-section>

<app-showcase-section title="Selection Checkbox">
  <ino-checkbox selection checked>Checked</ino-checkbox>
  <ino-checkbox selection>Unchecked</ino-checkbox>
  <ino-checkbox selection indeterminate>Indeterminate</ino-checkbox>
  <ino-checkbox checked selection disabled
  >Checked and disabled
  </ino-checkbox>
  <ino-checkbox selection disabled>Unchecked and disabled</ino-checkbox>
  <ino-checkbox selection indeterminate disabled>
    Indeterminate Disabled
  </ino-checkbox>
</app-showcase-section>
