<app-showcase-section>
  <ino-header text="Section 1"></ino-header>
  <ng-container [ngTemplateOutlet]="sampleText"></ng-container>
  <ino-header text="Section 2"></ino-header>
  <ng-container [ngTemplateOutlet]="sampleText"></ng-container>
</app-showcase-section>

<ng-template #sampleText>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique laoreet ipsum, eu vulputate felis imperdiet sed. Morbi volutpat quam scelerisque, volutpat orci a, tincidunt sapien. Nullam cursus arcu purus. Suspendisse nec velit arcu. Nam eu rhoncus mauris. Nullam a cursus purus, ac porttitor augue. Nulla sollicitudin lacus a arcu viverra malesuada. Integer non purus et arcu bibendum consequat cursus sed dui. Maecenas vel ultricies sem. Praesent ornare ultricies magna, non vulputate arcu interdum nec. Praesent dolor nisl, bibendum et dictum et, convallis sed purus.

    Aenean scelerisque porta felis non pulvinar. Pellentesque lobortis sollicitudin nibh nec luctus. In a enim suscipit, ultrices neque vel, pharetra tortor. Cras laoreet quis mauris nec sollicitudin. Donec lobortis nulla est, ac congue nunc feugiat lacinia. Etiam ligula ipsum, pharetra pretium ex ut, egestas gravida elit. Nam justo est, interdum id enim vel, semper pretium risus. Vestibulum vel tortor arcu. Aliquam sit amet diam a mi tristique vestibulum. Phasellus eget fringilla nunc, id ullamcorper ligula. Maecenas eu lectus elit. Nunc eu tortor ligula.

    Sed sollicitudin nisi ac dapibus ultricies. Morbi tempus augue a neque ornare, fringilla fringilla felis sodales. Pellentesque lorem eros, luctus eu aliquam ac, interdum eget dui. Nunc id mi sit amet massa hendrerit dictum quis eget ipsum. Nullam non iaculis massa. Fusce tincidunt a lorem et rhoncus. Aliquam sapien magna, bibendum a mollis vitae, tempus et massa.
  </p>
</ng-template>
