<app-showcase-section title="Manual Playback">
  <ino-carousel value="0">
    <ino-carousel-slide src='../../assets/imgs/mountains.jpg' value="0"></ino-carousel-slide>
    <ino-carousel-slide src='../../assets/imgs/trondheim.jpg' value="1"></ino-carousel-slide>
    <ino-carousel-slide src='../../assets/imgs/waterfall.jpg' value="2"></ino-carousel-slide>
  </ino-carousel>
</app-showcase-section>

<app-showcase-section title="Automatic Playback">
  <ino-carousel intermission="2000" autoplay animated infinite value="0">
    <ino-carousel-slide src='../../assets/imgs/mountains.jpg' value="0"></ino-carousel-slide>
    <ino-carousel-slide src='../../assets/imgs/trondheim.jpg' value="1"></ino-carousel-slide>
    <ino-carousel-slide src='../../assets/imgs/waterfall.jpg' value="2"></ino-carousel-slide>
  </ino-carousel>
</app-showcase-section>
