<div class="showcase">

  <app-showcase-card cardTitle="InoButton">
    <ino-button>Solid Primary</ino-button>
    <ino-button inoColorScheme="secondary">Secondary Solid</ino-button>
    <ino-button disabled>Disabled</ino-button>
  </app-showcase-card>

  <app-showcase-card cardTitle="InoChip">
    <ino-chip inoLabel="Primary" inoColorScheme="primary"></ino-chip>
    <ino-chip inoLabel="Secondary" inoColorScheme="secondary"></ino-chip>
    <ino-chip inoLabel="Leading Icon" inoIcon="search" inoColorScheme="error"></ino-chip>
  </app-showcase-card>

  <app-showcase-card cardTitle="InoFab">
    <ino-fab inoIcon="add" inoLabel="InoFab"></ino-fab>
    <ino-fab inoIcon="info" inoLabel="Extended" inoExtended></ino-fab>
  </app-showcase-card>

  <app-showcase-card cardTitle="InoIconButton">
    <ino-icon-button inoIcon="star" inoColorScheme="primary"></ino-icon-button>
    <ino-icon-button inoIcon="star" inoColorScheme="secondary" inoFilled></ino-icon-button>
    <ino-icon-button inoIcon="star" inoColorScheme="error"></ino-icon-button>
  </app-showcase-card>

  <app-showcase-card cardTitle="InoSegmentButton">
    <ino-segment-group value="1">
      <ino-segment-button value="1">Yes</ino-segment-button>
      <ino-segment-button value="2">Maybe</ino-segment-button>
      <ino-segment-button value="3">No</ino-segment-button>
    </ino-segment-group>
  </app-showcase-card>

  <app-showcase-card cardTitle="InoCard">
    <!-- TODO -->
  </app-showcase-card>

  <app-showcase-card cardTitle="InoDialog">
    <!-- TODO -->
  </app-showcase-card>

  <app-showcase-card cardTitle="InoHeader">
    <ino-header inoTitle="Section 1.1"></ino-header>
    <ino-header inoTitle="Section 1.2"></ino-header>
    <ino-header inoTitle="Section 1.3"></ino-header>
  </app-showcase-card>

  <app-showcase-card cardTitle="InoList">
    <ino-list>
      <ino-control-item inoRole="checkbox" inoText="ToDo 1" checked></ino-control-item>
      <ino-control-item inoRole="checkbox" inoText="ToDo 2"></ino-control-item>
      <ino-control-item inoRole="checkbox" inoText="ToDo 3"></ino-control-item>
    </ino-list>
  </app-showcase-card>

  <app-showcase-card cardTitle="InoMenu">
    <!-- TODO -->
  </app-showcase-card>

  <app-showcase-card cardTitle="InoTabBar">
    <ino-tab-bar inoActiveTab="1">
      <ino-tab inoLabel="Home" inoIcon="company" inoStacked></ino-tab>
      <ino-tab inoLabel="Projects" inoIcon="web" inoStacked></ino-tab>
    </ino-tab-bar>
  </app-showcase-card>

  <app-showcase-card cardTitle="InoTable">
    <ino-table>
      <ino-table-row inoHeaderRow>
        <ino-table-cell>Name</ino-table-cell>
        <ino-table-cell>Rating</ino-table-cell>
      </ino-table-row>
      <ino-table-row>
        <ino-table-cell>The Bourne Identity</ino-table-cell>
        <ino-table-cell>93%</ino-table-cell>
      </ino-table-row>
      <ino-table-row>
        <ino-table-cell>Sully</ino-table-cell>
        <ino-table-cell>84%</ino-table-cell>
      </ino-table-row>
      <ino-table-row>
        <ino-table-cell>The Martian</ino-table-cell>
        <ino-table-cell>94%</ino-table-cell>
      </ino-table-row>
    </ino-table>
  </app-showcase-card>

  <app-showcase-card cardTitle="InoCarousel">
    <!-- TODO -->
  </app-showcase-card>

  <app-showcase-card cardTitle="InoIcon">
    <ino-icon inoIcon="info"></ino-icon>
    <ino-icon inoIcon="search"></ino-icon>
    <ino-icon inoIcon="add"></ino-icon>
    <ino-icon inoIcon="company"></ino-icon>
    <ino-icon inoIcon="user"></ino-icon>
  </app-showcase-card>

  <app-showcase-card cardTitle="InoImgList">
    <!-- TODO -->
  </app-showcase-card>

  <app-showcase-card cardTitle="InoImg">
    <ino-img src="https://cdn-images-1.medium.com/max/1600/1*HP8l7LMMt7Sh5UoO1T-yLQ.png" width="100" height="100"></ino-img>
  </app-showcase-card>

  <app-showcase-card cardTitle="InoCheckbox">
    <ino-checkbox checked>Apple</ino-checkbox>
    <ino-checkbox>Orange</ino-checkbox>
    <ino-checkbox checked>Cherry</ino-checkbox>
    <ino-checkbox>Banana</ino-checkbox>
  </app-showcase-card>

  <app-showcase-card cardTitle="InoDatepicker">
    <ino-datepicker inoType="date" inoLabel="Date"></ino-datepicker>
    <ino-datepicker inoType="time" inoLabel="Time"></ino-datepicker>
  </app-showcase-card>

  <app-showcase-card cardTitle="InoInputFile">
    <ino-input-file inoDragAndDrop></ino-input-file>
  </app-showcase-card>

  <app-showcase-card cardTitle="InoInput">
    <ino-input inoLabel="Default Input"></ino-input>
    <ino-input inoLabel="Input with icon">
      <ino-icon inoIcon="search" slot="ino-icon-leading"></ino-icon>
    </ino-input>
  </app-showcase-card>

  <app-showcase-card cardTitle="InoRadio">
    <!-- TODO -->
  </app-showcase-card>

  <app-showcase-card cardTitle="InoRange">
    <!-- TODO -->
  </app-showcase-card>

  <app-showcase-card cardTitle="InoSelect">
    <!-- TODO -->
  </app-showcase-card>

  <app-showcase-card cardTitle="InoSwitch">
    <!-- TODO -->
  </app-showcase-card>

  <app-showcase-card cardTitle="InoTextarea">
    <!-- TODO -->
  </app-showcase-card>

  <app-showcase-card cardTitle="InoPopover">
    <!-- TODO -->
  </app-showcase-card>

  <app-showcase-card cardTitle="InoProgressBar">
    <!-- TODO -->
  </app-showcase-card>

  <app-showcase-card cardTitle="InoSnackbar">
    <!-- TODO -->
  </app-showcase-card>

  <app-showcase-card cardTitle="InoSpinner">
    <!-- TODO -->
  </app-showcase-card>

  <app-showcase-card cardTitle="InoTooltip">
    <!-- TODO -->
  </app-showcase-card>
</div>
