h2 {
  padding: 0;
  margin: 0;
}

.showcase {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  overflow: auto;
  margin: 20px;
}

ino-header, ino-list, ino-input, ino-range, ino-select, ino-progress-bar {
  width: 100%;
}

ino-input-file {
  width: 90%;
  .ino-input-file__dnd {
    height: 200px;
  }
}
