<div class="showcase">

  <app-showcase-card cardTitle="InoButton">
    <ino-button>Solid Primary</ino-button>
    <ino-button colorScheme="secondary">Secondary Solid</ino-button>
    <ino-button disabled>Disabled</ino-button>
  </app-showcase-card>

  <app-showcase-card cardTitle="InoChip">
    <ino-chip label="Primary" colorScheme="primary"></ino-chip>
    <ino-chip label="Secondary" colorScheme="secondary"></ino-chip>
    <ino-chip label="Leading Icon" icon="search" colorScheme="error"></ino-chip>
  </app-showcase-card>

  <app-showcase-card cardTitle="InoFab">
    <ino-fab icon="add" label="InoFab"></ino-fab>
    <ino-fab icon="info" label="Extended" extended></ino-fab>
  </app-showcase-card>

  <app-showcase-card cardTitle="IconButton">
    <ino-icon-button icon="star" colorScheme="primary"></ino-icon-button>
    <ino-icon-button icon="star" colorScheme="secondary" filled></ino-icon-button>
    <ino-icon-button icon="star" colorScheme="error"></ino-icon-button>
  </app-showcase-card>

  <app-showcase-card cardTitle="InoSegmentButton">
    <ino-segment-group value="1">
      <ino-segment-button value="1">Yes</ino-segment-button>
      <ino-segment-button value="2">Maybe</ino-segment-button>
      <ino-segment-button value="3">No</ino-segment-button>
    </ino-segment-group>
  </app-showcase-card>

  <app-showcase-card cardTitle="InoCard">

  </app-showcase-card>

  <app-showcase-card cardTitle="InoHeader">
    <ino-header title="Section 1.1"></ino-header>
    <ino-header title="Section 1.2"></ino-header>
    <ino-header title="Section 1.3"></ino-header>
  </app-showcase-card>

  <app-showcase-card cardTitle="InoList">
    <ino-list>
      <ino-control-item role="checkbox" text="ToDo 1" checked></ino-control-item>
      <ino-control-item role="checkbox" text="ToDo 2"></ino-control-item>
      <ino-control-item role="checkbox" text="ToDo 3"></ino-control-item>
    </ino-list>
  </app-showcase-card>

  <app-showcase-card cardTitle="InoMenu">
    <!-- TODO -->
    <ino-button></ino-button>
  </app-showcase-card>

  <app-showcase-card cardTitle="InoTabBar">
    <ino-tab-bar activeTab="1">
      <ino-tab label="Home" icon="company" stacked></ino-tab>
      <ino-tab label="Projects" icon="web" stacked></ino-tab>
    </ino-tab-bar>
  </app-showcase-card>

  <app-showcase-card cardTitle="InoTable">
    <ino-table>
      <ino-table-row headerRow>
        <ino-table-cell>Name</ino-table-cell>
        <ino-table-cell>Rating</ino-table-cell>
      </ino-table-row>
      <ino-table-row>
        <ino-table-cell>The Bourne Identity</ino-table-cell>
        <ino-table-cell>93%</ino-table-cell>
      </ino-table-row>
      <ino-table-row>
        <ino-table-cell>Sully</ino-table-cell>
        <ino-table-cell>84%</ino-table-cell>
      </ino-table-row>
      <ino-table-row>
        <ino-table-cell>The Martian</ino-table-cell>
        <ino-table-cell>94%</ino-table-cell>
      </ino-table-row>
    </ino-table>
  </app-showcase-card>

  <app-showcase-card cardTitle="InoCarousel">
    <!-- TODO -->
  </app-showcase-card>

  <app-showcase-card cardTitle="Icon">
    <ino-icon icon="info"></ino-icon>
    <ino-icon icon="search"></ino-icon>
    <ino-icon icon="add"></ino-icon>
    <ino-icon icon="company"></ino-icon>
    <ino-icon icon="user"></ino-icon>
  </app-showcase-card>

  <app-showcase-card cardTitle="InoImgList">
    <!-- TODO -->
  </app-showcase-card>

  <app-showcase-card cardTitle="InoImg">
    <ino-img src="https://cdn-images-1.medium.com/max/1600/1*HP8l7LMMt7Sh5UoO1T-yLQ.png" width="100" height="100"></ino-img>
  </app-showcase-card>

  <app-showcase-card cardTitle="InoCheckbox">
    <ino-checkbox checked>Apple</ino-checkbox>
    <ino-checkbox>Orange</ino-checkbox>
    <ino-checkbox checked>Cherry</ino-checkbox>
    <ino-checkbox>Banana</ino-checkbox>
  </app-showcase-card>

  <app-showcase-card cardTitle="InoDatepicker">
    <ino-datepicker type="date" label="Date"></ino-datepicker>
    <ino-datepicker type="time" label="Time"></ino-datepicker>
  </app-showcase-card>

  <app-showcase-card cardTitle="InoInputFile">
    <ino-input-file dragAndDrop></ino-input-file>
  </app-showcase-card>

  <app-showcase-card cardTitle="InoInput">
    <ino-input label="Default Input"></ino-input>
    <ino-input label="Input with icon">
      <ino-icon icon="search" slot="ino-icon-leading"></ino-icon>
    </ino-input>
  </app-showcase-card>

  <app-showcase-card cardTitle="InoRadioButton">
    <ino-radio>Unchecked</ino-radio>
    <ino-radio checked>Checked</ino-radio>
    <ino-radio disabled>Disabled</ino-radio>
  </app-showcase-card>

  <app-showcase-card cardTitle="InoRange">
    <ino-range min="0" max="100" value="0"></ino-range>
    <ino-range min="0" max="100" value="69" colorScheme="warning"></ino-range>
    <ino-range min="0" max="100" value="45" colorScheme="secondary" discrete markers step="5"></ino-range>
  </app-showcase-card>

  <app-showcase-card cardTitle="InoSelect">
    <ino-select value="1">
      <ino-option value="1">Option 1</ino-option>
      <ino-option value="2">Option 2</ino-option>
      <ino-option value="3">Option 3</ino-option>
    </ino-select>
    <ino-select value="3" required>
      <ino-option value="1">Option 1</ino-option>
      <ino-option value="2">Option 2</ino-option>
      <ino-option value="3">Option 3</ino-option>
    </ino-select>
  </app-showcase-card>

  <app-showcase-card cardTitle="InoSwitch">
    <ino-switch>Unchecked</ino-switch>
    <ino-switch checked colorScheme="secondary">Checked</ino-switch>
    <ino-switch disabled>Disabled</ino-switch>
  </app-showcase-card>

  <app-showcase-card cardTitle="textarea">
    <ino-textarea label="textarea" rows="8"></ino-textarea>
  </app-showcase-card>

  <app-showcase-card cardTitle="InoPopover">
    <ino-popover trigger="mouseenter" placement="top">
      <ino-button slot="ino-popover-trigger">Mouseenter</ino-button>
      InoPopover
    </ino-popover>
    <ino-popover trigger="click" colorScheme="secondary" placement="top">
      <ino-button slot="ino-popover-trigger" colorScheme="secondary">Click</ino-button>
      InoPopover
    </ino-popover>
  </app-showcase-card>

  <app-showcase-card cardTitle="InoProgressBar">
    <ino-progress-bar progress="0.7"></ino-progress-bar>
    <ino-progress-bar progress="0.3" buffer="0.67"></ino-progress-bar>
    <ino-progress-bar progress="0.3" buffer="0.67" indeterminate></ino-progress-bar>
  </app-showcase-card>

  <app-showcase-card cardTitle="InoSnackbar">
    <!-- TODO -->
  </app-showcase-card>

  <app-showcase-card cardTitle="InoSpinner">
    <!-- TODO -->
  </app-showcase-card>

  <app-showcase-card cardTitle="InoTooltip">
    <!-- TODO -->
  </app-showcase-card>
</div>
