<app-showcase-section title="Color Variants">
  <ino-switch colorScheme="primary" checked>Primary</ino-switch>
  <ino-switch colorScheme="secondary" checked>Secondary</ino-switch>
  <ino-switch colorScheme="success" checked>Success</ino-switch>
  <ino-switch colorScheme="warning" checked>Warning</ino-switch>
  <ino-switch colorScheme="error" checked>Error</ino-switch>
  <ino-switch colorScheme="light" checked>Light</ino-switch>
  <ino-switch colorScheme="dark" checked>Dark</ino-switch>
</app-showcase-section>

<app-showcase-section title="States">
  <ino-switch checked>Checked</ino-switch>
  <ino-switch>Unchecked</ino-switch>
  <ino-switch disabled checked>Checked and Disabled</ino-switch>
  <ino-switch disabled>Disabled</ino-switch>
</app-showcase-section>
