<app-showcase-section title="Variants">
  <div class='ino-fab-variants'>
    <ino-fab tooltipPlacement='none' label='Default Fab'>
      <ino-icon slot='icon-leading' icon='add'></ino-icon>
    </ino-fab>
    <ino-fab mini label='Mini Fab'>
      <ino-icon slot='icon-leading' icon='add'></ino-icon>
    </ino-fab>
    <ino-fab extended label='Extended Button'>
      <ino-icon slot='icon-leading' icon='add'></ino-icon>
    </ino-fab>
    <ino-fab disabled label='Disabled Button'>
      <ino-icon slot='icon-leading' icon='add'></ino-icon>
    </ino-fab>
  </div>
</app-showcase-section>

<app-showcase-section title="Various Edge Positions">
  <div class="ino-fab-variants">
    <ino-fab label="top-left" edgePosition="top-left">
      <ino-icon slot="icon-leading" icon="add"></ino-icon>
    </ino-fab>
    <ino-fab label="top-right" edgePosition="top-right">
      <ino-icon slot="icon-leading" icon="add"></ino-icon>
    </ino-fab>
    <ino-fab label="bottom-right" edgePosition="bottom-right">
      <ino-icon slot="icon-leading" icon="add"></ino-icon>
    </ino-fab>
    <ino-fab label="bottom-left" edgePosition="bottom-left">
      <ino-icon slot="icon-leading" icon="add"></ino-icon>
    </ino-fab>
    <ino-fab label="none" edgePosition="none">
      <ino-icon slot="icon-leading" icon="add"></ino-icon>
    </ino-fab>
  </div>
</app-showcase-section>
