$inovex: #003c7e;

$primary: #3d40f5;
$primary-light: #5d60f7;
$primary-dark: #0d10f3;
$primary-contrast: #fff;

$light: #c1c1c1;
$dark: #777777;

$success: #9ccd00;
$warning: #ffde03;
$error: #e00051;
