<ino-header inoTitle="Simple TODO"></ino-header>

<div class="app-wrapper">
  <div class="action-box">
    <ino-input
      (keyup.enter)="add()"
      ino-icon-clickable
      ino-icon-trailing
      type="text"
      [value]="newTodoName"
      (keyup)="onValueChanged($event)"
      placeholder="What needs to be done..."
    >
      <ino-icon
        inoClickable="true"
        (clickEl)="add()"
        slot="ino-icon-trailing"
        ino-icon="add"
      ></ino-icon>
    </ino-input>
  </div>

  <ino-list>
    <ino-list-item
      *ngFor="let todo of todos; index as i"
      inoText="{{ todo.name }}"
    >
      <ino-checkbox slot="ino-leading" (click)="delete(i, todo)"></ino-checkbox>
      <ino-button
        inoFill="outline"
        slot="ino-trailing"
        (click)="delete(i, todo)"
        >Delete</ino-button
      >
    </ino-list-item>
  </ino-list>
</div>
