<app-showcase-section title="Filter Chip Set">
  <ino-chip-set type="filter">
    <ino-chip value="1" label="Chip 1" colorScheme="primary"></ino-chip>
    <ino-chip value="2" label="Chip 2" selected colorScheme="primary"></ino-chip>
    <ino-chip value="3" label="Chip 3" colorScheme="primary"></ino-chip>
  </ino-chip-set>
</app-showcase-section>

<app-showcase-section title="Choice Chip Set">
  <ino-chip-set type="choice">
    <ino-chip label="Chip 1" value="1" colorScheme="secondary"></ino-chip>
    <ino-chip label="Chip 2" value="2" selected colorScheme="secondary"></ino-chip>
    <ino-chip label="Chip 3" value="3" colorScheme="secondary"></ino-chip>
  </ino-chip-set>
</app-showcase-section>

<app-showcase-section title="Input Chip Set">
  <ino-chip-set type="input">
    <ino-chip label="Chip 1" value="1" colorScheme="warning"></ino-chip>
    <ino-chip label="Chip 2" value="2" colorScheme="warning"></ino-chip>
    <ino-chip label="Chip 3" value="3" colorScheme="warning"></ino-chip>
  </ino-chip-set>
</app-showcase-section>

