<app-showcase-section title="Color Variants">
  <ino-icon-button
    icon="time"
    colorScheme="primary"
    filled
  ></ino-icon-button>
  <ino-icon-button
    icon="time"
    colorScheme="secondary"
    filled
  ></ino-icon-button>
  <ino-icon-button
    icon="time"
    colorScheme="success"
    filled
  ></ino-icon-button>
  <ino-icon-button
    icon="time"
    colorScheme="warning"
    filled
  ></ino-icon-button>
  <ino-icon-button
    icon="time"
    colorScheme="error"
    filled
  ></ino-icon-button>
</app-showcase-section>

<app-showcase-section title="States">
  <ino-icon-button
    icon="time"
    colorScheme="primary"
    activated
  ></ino-icon-button>
  <ino-icon-button
    icon="time"
    colorScheme="warning"
    filled
    activated
  ></ino-icon-button>
</app-showcase-section>

<app-showcase-section title="Variants">
  <ino-icon-button
    filled
    colorScheme="primary"
    icon="time"
  ></ino-icon-button>
  <ino-icon-button
    style="
          --ino-icon-button-icon-color: white;
          --ino-icon-button-background-color: purple;
          --ino-icon-button-icon-active-color: white;
          --ino-icon-button-background-active-color: pink;
        "
    icon="time"
  >
  </ino-icon-button>
  <ino-icon-button
    class="managed"
    style="
          --ino-icon-button-icon-color: gray;
          --ino-icon-button-background-color: transparent;
          --ino-icon-button-icon-active-color: red;
          --ino-icon-button-background-active-color: red;
        "
    icon="time"
    activated
  >
  </ino-icon-button>
</app-showcase-section>
