<app-showcase-section title="Label Options">
  <ino-textarea label="Floating label" cols="30" rows="3"></ino-textarea>
  <ino-textarea
    label="Floating label"
    value="With value"
    cols="30"
    rows="3"
  ></ino-textarea>
</app-showcase-section>

<app-showcase-section title="Filled Textarea">
  <ino-textarea
    label="Filled"
    cols="50"
    rows="3"
    outline="false"
  ></ino-textarea>
</app-showcase-section>

<app-showcase-section title="Outlined Textarea">
  <ino-textarea label="Outline" cols="50" rows="3" outline></ino-textarea>
</app-showcase-section>

<app-showcase-section title="States">
  <ino-textarea
    placeholder="Disabled"
    disabled
    cols="30"
    rows="3"
  ></ino-textarea>
  <ino-textarea
    label="Required"
    required
    showLabelHint
    cols="30"
    rows="3"
  ></ino-textarea>
  <ino-textarea
    label="Optional"
    cols="30"
    showLabelHint
    rows="3"
  ></ino-textarea>
</app-showcase-section>

<app-showcase-section title="Expanding Textarea">
  <ino-textarea
    label="Expanding textarea"
    autogrow
    class="autogrow-textarea"
    rows="1"
    cols="50"
  ></ino-textarea>
</app-showcase-section>

<app-showcase-section title="Textarea with Character Counter">
  <ino-textarea
    label="Character count"
    autogrow
    rows="1"
    cols="50"
    maxlength="200"
    showCharacterCounter
  ></ino-textarea>
</app-showcase-section>
