<app-showcase-section title="Color Variants">
  <ino-spinner colorScheme="primary"></ino-spinner>
  <ino-spinner colorScheme="secondary"></ino-spinner>
  <ino-spinner colorScheme="warning"></ino-spinner>
  <ino-spinner colorScheme="error"></ino-spinner>
  <ino-spinner colorScheme="success"></ino-spinner>
  <ino-spinner colorScheme="dark"></ino-spinner>
  <ino-spinner colorScheme="light"></ino-spinner>
</app-showcase-section>

<app-showcase-section title="Spinner Types">
  <ino-spinner type="tile"></ino-spinner>
  <ino-spinner type="bounce"></ino-spinner>
  <ino-spinner type="circle"></ino-spinner>
</app-showcase-section>
