<app-showcase-section title="Stacked Tab-Bar">
  <ino-tab-bar>
    <ino-tab label="Label 1" icon="info" stacked></ino-tab>
    <ino-tab label="Label 2" icon="info" stacked></ino-tab>
    <ino-tab label="Label 3" icon="info" stacked></ino-tab>
    <ino-tab label="Label 4" icon="info" stacked></ino-tab>
  </ino-tab-bar>
</app-showcase-section>

<app-showcase-section title="Width Adapted to Tab Content">
  <ino-tab-bar>
    <ino-tab label="Label 1" icon="info" indicatorContentWidth></ino-tab>
    <ino-tab label="Label 2" icon="info" indicatorContentWidth></ino-tab>
    <ino-tab label="Label 3" icon="info" indicatorContentWidth></ino-tab>
    <ino-tab label="Label 4" icon="info" indicatorContentWidth></ino-tab>
  </ino-tab-bar>
</app-showcase-section>
